#map {
	position: absolute;
	width: 100%;
	height: 94%;
}

.infoWindowContent {
	font-size: 14px !important;
	border-top: 1px solid #ccc;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

#fileLoader
{
    display:none;
    
}
.mini{
	height: 423px;
}

.minsize div {
	min-height: 150px;
}

.sizepanel1 {
	height: 380px;
}

#minimapsize{
	height: 355px; 
	width: 92%;
}

