<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://abcnewsradioonline.com/storage/news-images-april-2018/Getty_042018_CentralPark.jpg?__SQUARESPACE_CACHEVERSION=1524253070072" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item">
        <img src="https://content4travel.com/cms/img/u/kraj/2/kuba_0.jpg?version=30" alt="Chicago" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="http://www.theworldisabook.com/wp-content/uploads/2016/11/Reynisfjara-Beach-Iceland.jpg" alt="New york" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span> <div class="container marketing">
    </a>
  </div>
  
  
   <div class="container marketing" style="margin-top: 50px">
   <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" width="140" height="140" alt="Generic placeholder image" src="http://bi.gazeta.pl/im/4e/2d/13/z20109902IH,Wisla-w-Warszawie.jpg">
          <h2>Nowa podróż!</h2>
          <p>{{country1}} : {{city1}}</p>
          <p>{{startDate1 | date:'dd.MM.yyyy'}} - {{endDate1 | date:'dd.MM.yyyy'}}</p>
          <p><a class="btn btn-default" href="#/details/{{id1}}" role="button">Szczegóły &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" width="140" height="140" alt="Generic placeholder image" src="https://www.globtroter.pl/zdjecia/kuba/b148978_kuba_cienfuegos_cienfuegos.jpg">
          <h2>Nowa podróż!</h2>
           <p>{{country2}} : {{city2}}</p>
          <p>{{startDate2 | date:'dd.MM.yyyy'}} - {{endDate2 | date:'dd.MM.yyyy'}}</p>
          <p><a class="btn btn-default" href="#/details/{{id2}}" role="button">Szczegóły &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" width="140" height="140" alt="Generic placeholder image" src="http://www.panstwaswiata.pl/flagi/stany-zjednoczone.jpg">
          <h2>Nowa podróż!</h2>
          <p>{{country3}} : {{city3}}</p>
          <p>{{startDate3 | date:'dd.MM.yyyy'}} - {{endDate3 | date:'dd.MM.yyyy'}}</p>
           <p><a class="btn btn-default" href="#/details/{{id3}}" role="button">Szczegóły &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
      
      
      
      