<div ng-controller="mapController">
	<div id="map"></div>
	<div id="class" ng-repeat="marker in markers | orderBy : 'title'">
		<a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
	</div>
</div>


