
<div class="modal" modal="showModalRemoveTravel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Usuwanie podróży</h5>
			</div>
			<div class="modal-body">

				<form name="addNewTravelForm">
					<div class="form-group">
						<label for="destination">Czy na pewno chcesz usunąć podróż do {{ country }}?</label>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							ng-click="removeTravel()">Zapisz</button>
						<button type="button" class="btn btn-secondary"
							ng-click="cancelRemove()">Anuluj</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>