<div class="modal" modal="showModalAddNew">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Dodaj podróż</h5>
					</div>
					<div class="modal-body">

								<form name="addNewTravelForm" novalidate>
					<div class="form-group">
						<label for="country">Państwo</label> 
						  <input required type="text" id="ajax" list="json-datalist" name="countryAddInput" class="form-control" ng-model="countryAdd">
							  <datalist id="json-datalist"/>
						<p ng-show="addNewTravelForm.countryAddInput.$invalid"
							class="help-block">Państwo jest wymagane.</p>
					</div>
					
					<div class="form-group">
						<label for="city">Miasto</label> 
						<input required
							class="form-control" type="text" ng-model="cityAdd"
							name="cityAddInput">
						<p ng-show="addNewTravelForm.cityAddInput.$invalid"
							class="help-block">Miasto jest wymagane.</p>
							<p ng-if="wrongcity" class="help-block">Brak lokalizacji dla podanego miasta. Podaj inne miasto w pobliżu.</p>
					</div>
					
					<div class="form-group">
						<label for="startDate">Od kiedy</label> 
 						<input required class="form-control" type="date" ng-model="startDateAdd" name="startDateAddInput">
 						<p ng-show="addNewTravelForm.startDateAddInput.$invalid" class="help-block">Data od jest wymagana.</p>
					</div>
					<div class="form-group">
						<label for="endDate">Do kiedy</label> <input required
							class="form-control" type="date" ng-model="endDateAdd"
							name="endDateAddInput">
						<p ng-show="addNewTravelForm.endDateAddInput.$invalid"
							class="help-block">Data do jest wymagana.</p>
					</div>
					<div class="form-group">
						<label for="cost">Koszt</label> <input required
							class="form-control" type="text" ng-model="costAdd"
							name="costAddInput">
						<p ng-show="addNewTravelForm.costAddInput.$invalid" class="help-block">Koszt
							podróży jest wymagany.</p>
					</div>
					<div class="form-group">
						<label for="comment">Opis</label>
						<textarea required class="form-control" rows="5"
							ng-model="descAdd" name="commentAddInput"></textarea>
						<p ng-show="addNewTravelForm.commentAddInput.$invalid"
							class="help-block">Opis podróży jest wymagany.</p>
					</div>




							</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" ng-disabled="addNewTravelForm.$invalid" ng-click="submitAddNewTravelForm(addNewTravelForm.$valid)">Zapisz</button>
						<button type="button" class="btn btn-secondary"	ng-click="cancelNew()">Anuluj</button>
					</div>
				</form>
				</div>
			</div>
		</div>