<div class="modal" modal="showModalEdit" ng-model="selectedIndexEdit">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edytuj podróż</h5>
					</div>
					<div class="modal-body">

								<form name="editTravelForm" novalidate>
					<div class="form-group">
						<label for="country">Państwo</label> 
						<input required
							class="form-control" type="text" ng-model="countryEdit"
							name="countryInput">
						<p ng-show="editTravelForm.countryInput.$invalid"
							class="help-block">Państwo jest wymagane.</p>
					</div>
					
					<div class="form-group">
						<label for="city">Miasto</label> 
						<input required
							class="form-control" type="text" ng-model="cityEdit"
							name="cityInput">
						<p ng-show="editTravelForm.cityInput.$invalid"
							class="help-block">Miasto jest wymagane.</p>
					</div>
					
					<div class="form-group">
						<label for="startDate">Od kiedy</label> 
 						<input required class="form-control" type="date" ng-model="startDate" name="startDateInput">
 						<p ng-show="editTravelForm.startDateInput.$invalid" class="help-block">Data od jest wymagana.</p>
					</div>
					<div class="form-group">
						<label for="endDate">Do kiedy</label> <input required
							class="form-control" type="date" ng-model="endDateEdit"
							name="endDateInput">
						<p ng-show="editTravelForm.endDateInput.$invalid"
							class="help-block">Data do jest wymagana.</p>
					</div>
					<div class="form-group">
						<label for="cost">Koszt</label> <input required
							class="form-control" type="text" ng-model="costEdit"
							name="costInput">
						<p ng-show="editTravelForm.costInput.$invalid" class="help-block">Koszt
							podróży jest wymagany.</p>
					</div>
					<div class="form-group">
						<label for="comment">Opis</label>
						<textarea required class="form-control" rows="5"
							ng-model="descEdit" name="commentInput"></textarea>
						<p ng-show="editTravelForm.commentInput.$invalid"
							class="help-block">Opis podróży jest wymagany.</p>
					</div>

							</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" ng-disabled="editTravelForm.$invalid" ng-click="submitEditTravelForm(editTravelForm.$valid)">Zapisz</button>
						<button type="button" class="btn btn-secondary"	ng-click="cancelEdit()">Anuluj</button>
					</div>
				</form>
				</div>
			</div>
		</div>