
<div class="container" ng-controller="yourAccountController">
	<div class="row" style="margin-top: 100px">
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Twoje zdjęcie</h3>
				</div>
				<div class="panel-body">

					<img class="img-circle" width="140" height="140"
						alt="Generic placeholder image"
						src="http://bi.gazeta.pl/im/4e/2d/13/z20109902IH,Wisla-w-Warszawie.jpg">
					<hr>

					 <form class="form-inline">
					  	<div class="form-group">
					 		<label for="file">Plik:</label>
							<input type="file" id="fileLoader" name="files" title="Load File" />
							<input type="button" class="btn btn-primary" id="btnOpenFileDialog" value = "Click Me !!!" ng-click="openfileDialog()" />
						</div>
					</form> 
					
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Twoje dane</h3>
				</div>
				<div class="panel-body">

				<form name="userDateForm" novalidate>
					<div class="form-group">
						<label for="name">Imię</label> 
						  <input required type="text" class="form-control" ng-model="user.name" name="nameInput" ng-readonly="readonlyDate">
						  <p ng-show="userDateForm.nameInput.$invalid"
							class="help-block">Imię jest wymagane.</p>
					</div>
					
					<div class="form-group">
						<label for="name">Nazwisko</label> 
						  <input required type="text" class="form-control" ng-model="user.lastname" name="lastnameInput" ng-readonly="readonlyDate">
						  <p ng-show="userDateForm.lastnameInput.$invalid"
							class="help-block">Nazwisko jest wymagane.</p>
					</div>
					
					<div class="form-group">
						<label for="name">Data urodzenia</label> 
						  <input required type="text" class="form-control" ng-model="user.birthDate" datetime="dd.MM.yyyy" name="dateBirthInput" ng-readonly="readonlyDate">
						  <p ng-show="userDateForm.dateBirthInput.$invalid"
							class="help-block">Data urodzenia jest wymagana.</p>
					</div>
					
					<div class="form-group">
						<label for="name">Miasto</label> 
						  <input required type="text" class="form-control" ng-model="user.city" name="cityInput" ng-readonly="readonlyDate">
						  <p ng-show="userDateForm.cityInput.$invalid"
							class="help-block">Miasto jest wymagane.</p>
					</div>
					
					<div class="form-group">
						<label for="name">Kraj</label> 
						  <input required type="text" class="form-control" ng-model="user.country" name="countryInput" ng-readonly="readonlyDate">
						  <p ng-show="userDateForm.countryInput.$invalid"
							class="help-block">Kraj jest wymagany.</p>
					</div>
			
					<button type="button" class="btn btn-success" ng-show="showDate" ng-click="editYourDate()">Edytuj</button>
					<button type="submit" class="btn btn-warning" ng-show="!showDate" ng-disabled="userDateForm.$invalid" ng-click="submitSaveYourDate(userDateForm.$valid)">Zapisz</button>
				</form>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Dane do logowania</h3>
				</div>
				<div class="panel-body">

				<form name="userRegisterForm">
					<div class="form-group">
						<label for="name">Login</label> 
						  <input required type="text" class="form-control" ng-model="user.login" name="loginInput" ng-readonly="readonlyRegister">
						  <p ng-show="userRegisterForm.loginInput.$invalid"
							class="help-block">Login jest wymagany.</p>
					</div>
					
					<div class="form-group">
						<label for="name">Hasło</label> 
						  <input required type="text" class="form-control" ng-model="user.password" name="passwordInput" ng-readonly="readonlyRegister">
						  <p ng-show="userRegisterForm.passwordInput.$invalid"
							class="help-block">Hasło jest wymagane.</p>
					</div>
			
				</form>
					<button type="button" class="btn btn-success" ng-show="showRegister" ng-click="editYourRegister()">Edytuj</button>
					<button type="submit" class="btn btn-warning" ng-show="!showRegister" ng-disabled="userRegisterForm.$invalid" ng-click="submitSaveYourRegister(userRegisterForm.$valid)">Zapisz</button>
				</div>
			</div>
		</div>
		
	</div>

</div>