<div class="container" ng-controller="yourTravelsController">

	<div class="container" style="margin-top: 50px">
		<div class="container" style="margin-top: 50px">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-8">
						<h2>Twoje podróże</h2>
					</div>
					<div class="col-sm-4" align="right">
						<button type="button" class="btn btn-success" ng-click="openAddTravelModal()">
							<i class="fa fa-plus"></i> Dodaj podróż
						</button>
					</div>
				</div>
			</div>
			
		 <table class="table table-bordered table-hover" ng-table="travelsTable">
            <thead>
              <tr>
                <th style="width:5%;">Lp.</th>
                  <th style="width:15%;">Państwo</th>
                  <th style="width:15%;">Miasto</th>
                  <th style="width:15%;">Data od</th>
                  <th style="width:15%;">Data do</th>
                  <th style="width:15%;">Koszt</th>
                  <th style="width:8%;">Actions</th> 
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="x in travels">
                   	<td>{{$index+1}}</td>
                   	<td>{{x.destination.country}}</td>
                   	<td>{{x.destination.city}}</td>
                    <td>{{x.destination.dateStart | date:'dd.MM.yyyy'}}</td>
                    <td>{{x.destination.dateEnd | date:'dd.MM.yyyy'}}</td>
                    <td>{{x.destination.cost}}</td>
					<td>
						<a ng-if="x.expanded" ng-click="x.expanded = false"> <span class="material-icons">remove</span></a> 
						<a ng-if="!x.expanded" ng-click="expandSelected(x)"> <span class="material-icons">add</span></a> 
						<a ng-click="openEditTravelModal($index)"> <span class="material-icons">mode_edit</span></a> 
						<a ng-click="openRemoveTravelModal($index)"> <span class="material-icons">delete</span></a>
					</td>
				</tr>
                  <tr ng-if="x.expanded" ng-repeat-end="">
                	<td colspan="1" style="font-weight:bold">Opis</td>
            		<td colspan="4">{{x.destination.description}}</td>
            		<td colspan="1"></td>
          		</tr>
            </tbody>
          </table>


				<div class="modal" modal="showModalEdit"
					ng-model="selectedIndexEdit">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edytuj podróż</h5>
							</div>
							<div class="modal-body">

								<form name="editTravelForm" novalidate>
									<div class="form-group">
										<label for="country">Państwo</label> <input required
											class="form-control" type="text" ng-model="countryEdit"
											name="countryInput">
										<p ng-show="editTravelForm.countryInput.$invalid"
											class="help-block">Państwo jest wymagane.</p>
									</div>

									<div class="form-group">
										<label for="city">Miasto</label> <input required
											class="form-control" type="text" ng-model="cityEdit"
											name="cityInput">
										<p ng-show="editTravelForm.cityInput.$invalid"
											class="help-block">Miasto jest wymagane.</p>
									</div>

									<div class="form-group">
										<label for="startDate">Od kiedy</label> <input required
											class="form-control" type="date" ng-model="startDate"
											name="startDateInput">
										<p ng-show="editTravelForm.startDateInput.$invalid"
											class="help-block">Data od jest wymagana.</p>
									</div>
									<div class="form-group">
										<label for="endDate">Do kiedy</label> <input required
											class="form-control" type="date" ng-model="endDateEdit"
											name="endDateInput">
										<p ng-show="editTravelForm.endDateInput.$invalid"
											class="help-block">Data do jest wymagana.</p>
									</div>
									<div class="form-group">
										<label for="cost">Koszt</label> <input required
											class="form-control" type="text" ng-model="costEdit"
											name="costInput">
										<p ng-show="editTravelForm.costInput.$invalid"
											class="help-block">Koszt podróży jest wymagany.</p>
									</div>
									<div class="form-group">
										<label for="comment">Opis</label>
										<textarea required class="form-control" rows="5"
											ng-model="descEdit" name="commentInput"></textarea>
										<p ng-show="editTravelForm.commentInput.$invalid"
											class="help-block">Opis podróży jest wymagany.</p>
									</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary"
									ng-disabled="editTravelForm.$invalid"
									ng-click="submitEditTravelForm(editTravelForm.$valid)">Zapisz</button>
								<button type="button" class="btn btn-secondary"
									ng-click="cancelEdit()">Anuluj</button>
							</div>
							</form>
						</div>
					</div>
				</div>



				<div class="modal" modal="showModalAddNew">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Dodaj podróż</h5>
					</div>
					<div class="modal-body">

								<form name="addTravelForm" novalidate>
					
					<div class="form-group">
						<label for="country">Państwo</label> 
						  <input required 
						  class="form-control" type="text" ng-model="countryAdd" 
						  name="countryInput"
						  id="ajax" list="json-datalist">
						   <datalist id="json-datalist"/>
						<p ng-show="addTravelForm.json-datalist.$invalid"
							class="help-block">Państwo jest wymagane.</p>
					</div>
					
				<div class="form-group">
						<label for="country">Państwo</label> 
						<input required
							class="form-control" type="text" ng-model="countryAdd"
							name="countryInput">
						<p ng-show="addTravelForm.countryInput.$invalid"
							class="help-block">Państwo jest wymagane.</p>
					</div> 
					
					
					
					<div class="form-group">
						<label for="city">Miasto</label> 
						<input required
							class="form-control" type="text" ng-model="cityAdd"
							name="cityInput">
						<p ng-show="addTravelForm.cityInput.$invalid"
							class="help-block">Miasto jest wymagane.</p>
					</div>
					
					<div class="form-group">
						<label for="startDate">Od kiedy</label> 
 						<input required class="form-control" type="date" ng-model="startDateAdd" name="startDateInput">
 						<p ng-show="addTravelForm.startDateInput.$invalid" class="help-block">Data od jest wymagana.</p>
					</div>
					<div class="form-group">
						<label for="endDate">Do kiedy</label> <input required
							class="form-control" type="date" ng-model="endDateAdd"
							name="endDateInput">
						<p ng-show="addTravelForm.endDateInput.$invalid"
							class="help-block">Data do jest wymagana.</p>
					</div>
					<div class="form-group">
						<label for="cost">Koszt</label> <input required
							class="form-control" type="text" ng-model="costAdd"
							name="costInput">
						<p ng-show="addTravelForm.costInput.$invalid" class="help-block">Koszt
							podróży jest wymagany.</p>
					</div>
					<div class="form-group">
						<label for="comment">Opis</label>
						<textarea required class="form-control" rows="5"
							ng-model="descAdd" name="commentInput"></textarea>
						<p ng-show="addTravelForm.commentInput.$invalid"
							class="help-block">Opis podróży jest wymagany.</p>
					</div>

							</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" ng-disabled="addTravelForm.$invalid" ng-click="submitAddTravelForm(addTravelForm.$valid)">Zapisz</button>
						<button type="button" class="btn btn-secondary"	ng-click="cancelAdd()">Anuluj</button>
					</div>
				</form>
				</div>
			</div>
		</div>
		
				
				
				
				
		
		
		<div class="modal" modal="showModalRemoveTravel">
	<div class="modal-dialog" role="document" style="width: 400px">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Usuwanie podróży</h5>
			</div>
			<div class="modal-body">

				<form name="addNewTravelForm">
					<div class="form-group">
						<label for="destination">Czy na pewno chcesz usunąć podróż do {{ country }}?</label>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							ng-click="removeTravel()">Usuń</button>
						<button type="button" class="btn btn-secondary"
							ng-click="cancelRemove()">Anuluj</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
		
		
		


	</div>
	
	
	</div>
	</div>

</div>
